.idea/
.project
.settings/
*.iml
*.ipr
*.hprof
*~local.properties
classes/
gen
gen-external-apklibs
local.properties
log/
target/
Thumbs.db
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*.iws
out/
.idea_modules/
build/
